body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

h2{
	 margin:auto;
	 display: block;
	 text-align: center;
}

form {
    width: 50%;
    margin:auto;
    
}

div {
    margin-bottom: 15px;
}

div label {
  display: inline-block;
  margin-right: 3px;/* ラベル間の余白を調整する場合、必要に応じて設定 */
}

/*input[type="text"],*/
/*input[type="datetime-local"],*/
/*input[type="radio"],*/
/*input[type="submit"] {*/
/*    display: inline-block;*/
/*    margin: 30px auto;*/
   
/*}*/


input[type = "text"] {
	margin: auto;
	display: block;
	width: 200px;
}



input[type="datetime-local"] {
	margin: auto;
    display: block;
	
}

input[type="radio"] {
	display: inline-block;
    margin: auto;
	
}

/* ボタンのスタイル */
input[type="submit"] {
    display:inline;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 17px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

input[type="submit"]:hover {
    background-color: cadetblue;
}





