 /* スタイルは必要に応じて変更してください */
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 20px;
    }
    
    /* ヘッダーのスタイル */
		#header {
			display: flex;
			justify-content: center;
			/* 要素を中央に寄せる */
			gap: 10px;
			/* 要素間のスペースを設定 */
			align-items: center;
			padding: 10px;
			background-color: #f3f3f3;
			width: 100vw;
		}
    
    #schedule {
      width: 800px;
      margin: 20px auto;
      border: 1px solid #ccc;
      padding: 20px;
      overflow-x: auto;
    }
    .hour-block {
      border-bottom: 1px solid #ccc;
      padding: 10px;
      display: flex;
    }
    .hour-block:first-child {
      padding-top: 0;
    }
    .time-display {
      width: 80px; /* 時刻表示の幅を広げる */
      flex-shrink: 0;
      text-align: center;
    }
    .event-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center; /* イベントを中央揃え */
      position: relative; /* 相対位置指定 */
    }
    .event {
      margin-right: 4px;
      background-color: #e0e0e0;
      padding: 2px 8px;
      border-radius: 4px;
      position: absolute;
      white-space: nowrap;
    }
    .title {
      text-align: center;
      font-size: 24px;
      margin-bottom: 10px;
    }
    .date {
      text-align: center;
      margin-bottom: 20px;
    }
    .back-button {
      position: fixed; 
      top: 20px;
      right: 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 8px 16px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;
    }
    
    /* 宮宇地追加分 */
	.fixed {
      position: sticky; /* sticky に変更 */
      top: 0;
	}
	
	/* ログアウトボタンのスタイル */
		#logoutBtn {
			background-color: #800000;
			/* 背景色を水色に設定 */
			color: white;
			/* 文字色を白に設定 */
			z-index: 1;
			/* z-indexを設定してテキストを前面に出す */
			border-radius: 10px;
			/* 角に丸みを持たせる */
		}