<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	
 <!-- 見出しが変わります -->
    <h1>イベント編集</h1>
    <!-- 登録処理のHTTPメソッドはPOSTにします -->
    <form th:action="@{/event/henshu/{id}(id=${id})}" th:object="${eventForm}" method="post">
        <div>
            <label>イベント名</label>
        </div>
        <div>
            <!-- 商品名はtextにします、th:field属性の値は*{フィールド名}です -->
            <input type="text" th:field="*{name}" placeholder="イベント名を入力してください">
        </div>
        
        <div>
            <form>
				<input type="radio" name="ラベル1" value="室内">室内
				<input type="radio" name="ラベル1" value="屋外">屋外
				
			</form>
        </div>
        
         <div>
			<select name="ラベル">
    			<option value="work">仕事</option>
    			<option value="travel">旅行</option>
    			<option value="recreation">遊び</option>
    			<option value="Private">プライベート</option>
			</select>
		</div>
		
		<div>
			 <label>
          			 開始
           		 <input type="datetime-local">
       		 </label>
		</div>
		<div>
			 <label>
          			 終了
           		 <input type="datetime-local">
       		 </label>
		</div>
		
       
        <div>
            <input type="submit" name="send" value="完了">
        </div>
        <div>
            <!-- 一覧に戻る -->
            <a href="/calendar">戻る</a>
        </div>
    </form>
</body>
</html>