<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
  <meta charset="UTF-8">
  <title>一日の予定</title>
  <link rel="stylesheet" href="/css/todayEvent.css">
</head>
<body>
<div id="header">
		<div id="group">
			<span id="username">UserName</span> <!--要修正：優先度低め-->
			<button id="logoutBtn">ログアウト</button>
		</div>
	</div>
<div class="title">一日の予定表示</div>
<div class="date" id="currentDate"></div>
<button class="back-button">戻る</button> <!-- 戻るボタン -->


<div id="schedule">
  <!-- 一時間ごとの予定表示エリア -->
</div>

<script src="todayEvent.js"></script>

</body>
</html>
