<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  href="/css/event.css" >
<title>Insert title here</title>
</head>
<body>
    <h1 align="center" >新規イベント</h1>
    <!-- 登録処理のHTTPメソッドはPOSTにします -->
    <form th:action="@{/calendar/toroku}" th:object="${eventForm}" method="post">
        <div>
            <label align="center">タイトル</labelalign="center">
        </div>
        <div>
          
            <input type="text"  th:field="*{name}" placeholder="イベント名を入力してください" >
        </div>
        <div>
    		<form>
       			 <input type="radio" name="ラベル1" th:value="室内" align="center">室内
        		<input type="radio" name="ラベル1" th:value="屋外" align="center">屋外
   			 </form>
		</div>
        <div>
    		<label for="eventType" align="center">イベントラベル</label>
    		<select name="ラベル" align="center" id="eventType">
        		<option value="work">仕事</option>
        		<option value="travel">旅行</option>
        		<option value="recreation">遊び</option>
        		<option value="Private">プライベート</option>
   			 </select>
		</div>
		
		<div>
			 <label>
          			<h2 align="center">開始</h2> 
           		 <input type="datetime-local" align="center" name="startTime">
       		 </label>
		</div>
		<div>
			 <label>
          			 <h2 align="center">終了</h2>
           		 <input type="datetime-local" align="center"  name="endTime">
       		 </label>
		</div>
        <div>
            <input type="submit"  align="center" name="send" value="追加する">
        </div>
        <!-- 一覧に戻る -->
        <div>
			<a class="btn-style-link" align="center"  href="/calendar">戻る</a>
           
        </div>
    </form>
</body>
</html>